# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio stuff
*.sdf
*.opensdf
*.tlog
*.obj
*.idb
*.pdb
*.rc
*.manifest
*.ipch
*.log
*.lastbuildstate
*.cache

*.exe
/vsproject/NeuroPulse/ogre.cfg
/vsproject/NeuroPulse/NeuroPulse.suo
*.res
*.ilk
*.bi
*.bi
*.suo
*.unsuccessfulbuild
*.cfg
/vsproject/NeuroPulse/media/materials/textures/dirt.jpg
/vsproject/NeuroPulse/media/materials/textures/dirt2.jpg
/vsproject/NeuroPulse/media/materials/textures/electricRain.png
/vsproject/NeuroPulse/media/materials/textures/nodeSelector.png
/vsproject/NeuroPulse/media/datafiles/Makefile.am
/vsproject/NeuroPulse/media/datafiles/Makefile.in
/vsproject/NeuroPulse/media/datafiles/animations/example.xml
/vsproject/NeuroPulse/media/datafiles/fonts/Batang-26.font
/vsproject/NeuroPulse/media/datafiles/fonts/DejaVuSans-10.font
/vsproject/NeuroPulse/media/datafiles/fonts/DejaVuSans.ttf
/vsproject/NeuroPulse/media/datafiles/fonts/FairChar-30.font
/vsproject/NeuroPulse/media/datafiles/fonts/Legal.txt
/vsproject/NeuroPulse/media/datafiles/fonts/baemuk.txt
/vsproject/NeuroPulse/media/datafiles/fonts/batang.ttf
/vsproject/NeuroPulse/media/datafiles/fonts/fkp-16.font
/vsproject/NeuroPulse/media/datafiles/fonts/fkp.de.pcf
/vsproject/NeuroPulse/media/datafiles/imagesets/DriveIcons.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/DriveIcons.png
/vsproject/NeuroPulse/media/datafiles/imagesets/FairChar.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/FairChar.tga
/vsproject/NeuroPulse/media/datafiles/imagesets/GPN-2000-001437.tga
/vsproject/NeuroPulse/media/datafiles/imagesets/OgreTray.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/OgreTrayImages.png
/vsproject/NeuroPulse/media/datafiles/imagesets/ReadMe.txt
/vsproject/NeuroPulse/media/datafiles/imagesets/TaharezLook.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/TaharezLook.tga
/vsproject/NeuroPulse/media/datafiles/imagesets/Vanilla.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/WindowsLook.imageset
/vsproject/NeuroPulse/media/datafiles/imagesets/WindowsLook.tga
/vsproject/NeuroPulse/media/datafiles/imagesets/logo.png
/vsproject/NeuroPulse/media/datafiles/imagesets/vanilla.tga
/vsproject/NeuroPulse/media/datafiles/layouts/Console.wnd
/vsproject/NeuroPulse/media/datafiles/layouts/Demo7Windows.layout
/vsproject/NeuroPulse/media/datafiles/layouts/Demo8.layout
/vsproject/NeuroPulse/media/datafiles/layouts/DragDropDemo.layout
/vsproject/NeuroPulse/media/datafiles/layouts/FontDemo.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TabControlDemo.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TabPage.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TabPage1.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TabPage2.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TextDemo.layout
/vsproject/NeuroPulse/media/datafiles/layouts/TreeDemoTaharez.layout
/vsproject/NeuroPulse/media/datafiles/layouts/VanillaConsole.layout
/vsproject/NeuroPulse/media/datafiles/layouts/VanillaWindows.layout
/vsproject/NeuroPulse/media/datafiles/looknfeel/InventoryComponents.looknfeel
/vsproject/NeuroPulse/media/datafiles/looknfeel/OgreTray.looknfeel
/vsproject/NeuroPulse/media/datafiles/looknfeel/TaharezLook.looknfeel
/vsproject/NeuroPulse/media/datafiles/looknfeel/Vanilla.looknfeel
/vsproject/NeuroPulse/media/datafiles/looknfeel/WindowsLook.looknfeel
/vsproject/NeuroPulse/media/datafiles/lua_scripts/demo8.lua
/vsproject/NeuroPulse/media/datafiles/schemes/Demo8.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/OgreTray.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/TaharezLook.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/TaharezLookWidgetAliases.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/TaharezLookWidgets.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/VanillaSkin.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/WindowsLook.scheme
/vsproject/NeuroPulse/media/datafiles/schemes/WindowsLookWidgets.scheme
/vsproject/NeuroPulse/media/datafiles/xml_schemas/Animation.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/CEGUIConfig.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/Falagard.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/Font.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/GUILayout.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/GUIScheme.xsd
/vsproject/NeuroPulse/media/datafiles/xml_schemas/Imageset.xsd
/vsproject/NeuroPulse/media/materials/textures/terrainTexture1.png
/vsproject/NeuroPulse/media/materials/textures/terrainTexture2_1small.png
