# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio stuff
*.sdf
*.opensdf
*.tlog
*.obj
*.idb
*.pdb
*.rc
*.manifest
*.ipch
*.log
*.lastbuildstate
*.cache

*.exe
/vsproject/NeuroPulse/ogre.cfg
/vsproject/NeuroPulse/NeuroPulse.suo
*.res
*.ilk
*.bi
*.bi
